parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#type has no value type specified in iterable type array#'
    excludePaths:
        - src/Map/TreeMap.php
        - src/Map/HashMap.php
        - src/Map/LinkedHashMap.php
        - src/Collection/LinkedList.php 
        - src/Collection/ArrayList.php